html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Startpage
    link(rel="shortcut icon", type="image/png", href="./public/assets/icons/favicon.png")
    link(rel="stylesheet", href="./public/app.css")
    script(src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js", integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo", crossorigin="anonymous")
    script(src="https://unpkg.com/lucide@0.17.8/dist/umd/lucide.min.js")
  body
    .main-backdrop
      main.main
        .container
          section.box.Greeting(hx-get="/_/greeting/", hx-trigger="every 10s")
            include partials/greeting.pug
          section.box.Weather(hx-get="/_/weather/", hx-trigger="load, every 600s")
          section.box.Links1.Links
            each group in bookmarkGroups1
              .bookmarkGroup
                .title
                  i.buttonIcon(icon-name=group.icon)
                  h3= group.title
                ul
                  each link in group.links
                    li
                      a(href=link[1], target="_blank")= link[0]
          section.box.Links2.Links
            each group in bookmarkGroups2
              .bookmarkGroup
                .title
                  i.buttonIcon(icon-name=group.icon)
                  h3= group.title
                ul
                  each link in group.links
                    li
                      a(href=link[1], target="_blank")= link[0]
          section.box.Info
            each countdown in countdowns
              .countdown
                h3= countdown.duration
                p= countdown.title
          section.box.Footer
            div= footer.git_sha
    script.
      lucide.createIcons()
      htmx.on('htmx:afterSwap', function(evt) {
        lucide.createIcons()
      });
